* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 
TOP 
*/
.top-div {
    background-color: #3a75b0;
    height: 90px;
    display: flex;
}

.svg-container {
    height: 80%;
    width: 80px;
    padding: 10px;
}

.svg-container svg {
    width: 100%;
    height: 100%;
    display: block;
}

.java-cup {
    fill: white;
}

.java-smoke {
    fill: rgb(239, 140, 0);

}

.java-tm-div {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    margin-left: -20px;
}

.java-tm-div sup {
    font-size: 6px;
}

/* 
MAIN 
*/

.main-div {
    display: flex;
    flex: 1;
}

.main-mid-div {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #285d93;
    justify-content: center;
}

.java-content {
    display: flex;
    height: 100%;
    width: 600px;
}

.java-text {
    flex: 1;
    flex-direction: column;
}

.java-canvas {
    width: 295px;
    height: 100%;
    flex-shrink: 0;
}

/* 
BOTTOM 
*/
.bottom-div {
    background-color: rgb(44, 44, 44);
    height: 180px;
    display: flex;
    align-items: center;
}

.java-png-container {
    margin-left: auto;
}

.java-logo-png {
    width: 100px;
    height: auto;
    margin: 20px;
}