* {
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* 
TOP 
*/
.top-div {
    background-color: rgb(74, 69, 162);
    height: 90px;
    display: flex;
}

.svg-container {
    height: 80%;
    width: 80px;
    padding: 10px
}

.svg-container svg {
    width: 100%;
    height: 100%;
    display: block;
}

.java-cup {
    fill: white;
}

.java-smoke {
    fill: rgb(239, 140, 0);

}


.java-tm-div {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    margin-left: -20px;
}

.java-tm-div sup {
    font-size: 6px;
}


/* 
MAIN 
*/
.main-div {
    background-color: rgb(254, 255, 224);
    flex: 1;
    display: flex;
}

.canvas-container {
    width: 100%;
    overflow: hidden;
}

#bezierCanvas {
    height: 400px;
    width: 295px;
    display: block;
}


/* 
BOTTOM 
*/
.bottom-div {
    background-color: rgb(44, 44, 44);
    height: 180px;
    display: flex;
    align-items: center;
}

.java-png-container {
    margin-left: auto;
}

.java-logo-png {
    width: 100px;
    height: auto;
    margin: 20px;
}