* {
    padding: 0;
    margin: 0;
}

html,
body {}

body {
    background-color: #ffdac186;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.upper-div {
    background-color: #3a75b0;
    height: 70px;
    flex-shrink: 0;
}

.svg-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12px;
    left: 12px;
}


.java-title {
    position: relative;
    top: -24px;
    left: 60px;
    font-family: sans-serif;
    font-size: 24px;
    color: white;
}

sup {
    font-size: 5px;
}

.java-cup {
    fill: white;
}

.java-smoke {
    fill: rgb(239, 140, 0);
}

.bottom-div {
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 100px;
    margin-top: auto;
}

.java-img-div {
    position: absolute;
    right: 0;
    width: 200px;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.java-canvas {
    border: 1px solid #555;
    background-color: wheat;
}

canvas {
    width: 295px;
    height: 400px;
    display: block;
}